<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="swaggerwcf" type="SwaggerWcf.Configuration.SwaggerWcfSection, SwaggerWcf" />
    <section name="MongoDBAdapter" type="Magmasystems.Persistence.DocumentDatabaseAdapterConfiguration, Magmasystems.Persistence"/>
    <section name="MagmaConverse" type="MagmaConverse.Configuration.MagmaConverseConfiguration, MagmaConverse.Configuration"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <MagmaConverse noPersistence="true" purgeDatabaseOnStartup="true" useMocksForRestCalls="false" maxRepeaterIterations="3" noMessaging="true">
    <servers>
      <server name="MagmaConverseServer" url="localhost:3000" />
    </servers>
  </MagmaConverse>

  <log4net>
    <appender name="console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-4timestamp %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="colorconsole" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="INFO" />
        <foreColor value="Yellow" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-4timestamp %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <!--
      Log all Mongo messages in yellow. If you don't set additivity to false, then the same message will be written to the console (ie: captured by the root section below)
    -->
    <logger name="Magmasystems.Persistence.MongoDB.MongoDBPersistenceDriver" additivity="false">
      <appender-ref ref="colorconsole" />    
    </logger>

    <root>
      <level value="INFO" />
      <appender-ref ref="console" />
    </root>
  </log4net>

  <connectionStrings>
    <add name="mongodb" providerName="mongodb" connectionString="mongodb://localhost"/>
  </connectionStrings>

  <MongoDBAdapter driver="Magmasystems.Persistence.MongoDB.MongoDBPersistenceDriver, Magmasystems.Persistence.MongoDB" databaseName="MagmaConverse">
    <behavior collectionName="DefaultCollection" databaseName="MagmaConverse" useDatabase="true"/>
    <typeBehaviors>
      <typeBehavior
        type="MagmaConverse.Data.SBSForm, MagmaConverse.Data"
        collectionName="SBSForm"
        databaseName="MagmaConverse"
        serializationInitializer="MagmaConverse.Models.MongoSerializationInitializers.SBSFormInitializer, MagmaConverse.Models"/>

      <typeBehavior
        type="MagmaConverse.Data.SBSFormDefinition, MagmaConverse.Data"
        collectionName="SBSFormDefinition"
        databaseName="MagmaConverse"
        serializationInitializer="MagmaConverse.Models.MongoSerializationInitializers.SBSFormDefinitionInitializer, MagmaConverse.Models"/>
      
        <typeBehavior
        type="MagmaConverse.Data.FormCreationReferenceData, MagmaConverse.Data"
        collectionName="SBSReferenceData"
        databaseName="MagmaConverse"
        serializationInitializer="MagmaConverse.Models.MongoSerializationInitializers.SBSFormReferenceDataInitializer, MagmaConverse.Models"/>
    </typeBehaviors>
  </MongoDBAdapter>

  <appSettings>
    <add key="Json.Trace" value="false"/>
    <add key="Json.TypeNameHandling" value="Auto"/>
  </appSettings>

  <swaggerwcf>
    <tags>
      <tag name="LowPerformance" visible="false" />
    </tags>
    <settings>
      <setting name="InfoDescription" value="Form service" />
      <setting name="InfoVersion" value="0.0.1" />
      <setting name="InfoTermsOfService" value="Use at your own risk" />
      <setting name="InfoTitle" value="Magma Converse" />
      <setting name="InfoContactName" value="Marc Adler" />
      <setting name="InfoContactUrl" value="http://github.com/abelsilva" />
      <setting name="InfoContactEmail" value="marc@ctoasaservice.org" />
      <setting name="InfoLicenseUrl" value="https://github.com/abelsilva/SwaggerWCF/blob/master/LICENSE" />
      <setting name="InfoLicenseName" value="Apache License" />
    </settings>
  </swaggerwcf>
</configuration>
