<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="Console" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%date{ISO8601} %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="ColorConsole" type="log4net.Appender.ManagedColoredConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%date{ISO8601} %-5level %logger - %message%newline" />
    </layout>
    <mapping>
      <level value="ERROR" />
      <foreColor value="White" />
      <backColor value="Red" />
    </mapping>
    <mapping>
      <level value="DEBUG" />
      <backColor value="Green" />
    </mapping>
    <mapping>
      <level value="INFO" />
      <foreColor value="Yellow" />
    </mapping>
  </appender>
  
  <appender name="File" type="log4net.Appender.FileAppender">
    <file value="./logs/magmaconverse.log" />
    <!-- <file type="log4net.Util.PatternString" value="c:\Logs\%env{USERNAME}.txt" /> -->
    <appendToFile value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{ISO8601} %-5level %logger - %message%newline" />
    </layout>
  </appender>
  
  <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
    <remoteAddress value="127.0.0.1" />
    <remotePort value="7071" />
    <layout type="log4net.Layout.XmlLayoutSchemaLog4j" />
    <!--
      <layout type="log4net.Layout.PatternLayout, log4net">
        <conversionPattern value="%-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
      -->
  </appender>

  <root>
    <level value="INFO" />
    <appender-ref ref="File" />
    <!--<appender-ref ref="Console" />-->
    <appender-ref ref="ColorConsole" />
    <!--<appender-ref ref="UdpAppender" />-->
  </root>
</log4net>
